<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.monstarlab.signup">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="false"
        android:theme="@style/Theme.MyApp">
        <activity
            android:name="com.monstarlab.signup.view.activity.SearchActivity"
            android:exported="false" />
        <activity
            android:name="com.monstarlab.signup.view.activity.SignupActivity"
            android:exported="false" />
        <activity
            android:name="com.monstarlab.signup.view.activity.OrderActivity"
            android:exported="false" />
        <activity
            android:name="com.monstarlab.signup.view.activity.PortfolioActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.monstarlab.signup.view.activity.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.monstarlab.signup.view.activity.MainActivity"
            android:exported="false"
              />
        <activity
            android:name="com.monstarlab.signup.view.activity.VisionActivity"
            android:exported="false"
              />
    </application>

</manifest>